{% extends "baseadmin.html.twig" %}

{% block title %}Liste des articles - {{ parent() }}{% endblock %}

{% block header %}
    {{ parent() }}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="m-auto" id="navbarColor02">
            <ul class="navbar-nav">
                <a href="/admin/post/add" class="nav-item nav-link text-primary mx-3"><i class="fas fa-plus-circle mr-3"></i>Ajouter un article</a> 
            </ul>
        </div>
    </nav>
    <hr class="w-50 m-auto">
{% endblock %}

{% block content %}

    <section id="admin" class="bg-white color-black">
        <div class="container">
            <div class="text-center mb-5">
                <a href="/blog"><i class="fas fa-arrow-left mr-2"></i>Retour au blog</a>
            </div>
            <h1 class="text-center">Administration des articles</h1>
            <p>{{ posts|length }} articles</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Image</th>
                        <th scope="col" class="text-center">Titre</th>
                        <th scope="col" class="text-center">Auteur</th>
                        <th scope="col" class="text-center">Date d'ajout</th>
                        <th scope="col" class="text-center">Date de dernière modification</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td class="text-center">
                                {% if post.imageUrl %}
                                    <img src="{{ post.imageUrl }}"  class="img-fluid img-thumbnail" alt="{{ post.title }}">
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="text-center">{{ post.title }}</td>
                            <td class="text-center">{{ post.author.firstName }} {{ post.author.lastName }}</td>
                            <td class="text-center">{{ post.createdAt|date('d-m-Y à H:i:s') }}</td>
                            <td class="text-center">
                                {% if post.updatedAt %}
                                    {{ post.updatedAt|date('d-m-Y à H:i:s') }}
                                {% else %}  
                                    -
                                {% endif %}
                            </td>
                            <td class="text-center actions">
                                <a class="btn btn-info" href="moderate/comments/post/{{ post.id }}" role="button">
                                    Commentaires<i class="fas fa-comment ml-2 {% if post.unvalidComments %}red{% endif %}"></i>
                                </a>
                                <a class="btn btn-primary" href="edit/post/{{ post.id }}" role="button">
                                    Modifier
                                    <i class="fas fa-pen mr-2"></i>
                                </a>
                                <form action="delete/post/{{ post.id}}" method="post">
                                    <button type="submit" class="btn btn-danger" name="delete" role="button" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">
                                        Supprimer<i class="fas fa-times ml-2"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}






