{% extends "baseadmin.html.twig" %}

{% block title %}Liste des articles - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="m-auto" id="navbarColor02">
            <ul class="navbar-nav">
                <a href="?action=admin/article/add" class="nav-item nav-link text-primary mx-3"><i class="fas fa-plus-circle mr-3"></i>Ajouter un article</a> 
            </ul>
        </div>
    </nav>
    <hr class="w-50 m-auto">
{% endblock %}

{% block content %}

    <section id="admin">
        <div class="container">
            <div class="text-center mb-5">
                <a class="" href="/"><i class="fas fa-arrow-left mr-2"></i>Retour au blog</a>
            </div>
            <h1 class="text-center">Administration des articles</h1>
            <p>{{ posts|length }} articles</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Image</th>
                        <th scope="col" class="text-center">Titre</th>
                        <th scope="col" class="text-center">Auteur</th>
                        <th scope="col" class="text-center">Date d'ajout</th>
                        <th scope="col" class="text-center">Date de dernière modification</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td class="text-center">
                                {% if post.imageUrl %}
                                    <img src="{{ post.imageUrl }}"  class="img-fluid img-thumbnail" alt="{{ post.title }}">
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="text-center">{{ post.title }}</td>
                            <td class="text-center">{{ post.author }}</td>
                            <td class="text-center">{{ post.createdAt|date('d-m-Y à H:i:s') }}</td>
                            <td class="text-center">
                                {% if post.updatedAt %}
                                    {{ post.updatedAt|date('d-m-Y à H:i:s') }}
                                {% else %}  
                                    -
                                {% endif %}
                            </td>
                            <td class="text-center actions">
                                <div>
                                    <a class="btn btn-info" href="?action=admin/article/comments" role="button">
                                        Commentaires<i class="fas fa-comment ml-2"></i>
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-primary" href="?action=admin/article/edit" role="button"><i class="fas fa-pen mr-2"></i>
                                        Modifier
                                    </a>
                                    <a class="btn btn-danger" href="#" role="button">
                                        Supprimer<i class="fas fa-times ml-2"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}






