{% extends "baseadmin.html.twig" %}

{% block title %}Commentaires - {{ parent() }}{% endblock %}

{% block content %}
    <section id="article-edit">
        <div class="container">
            <div class="text-center mb-5">
                <a class="" href="?action=admin"><i class="fas fa-arrow-left mr-2"></i>Retour à la liste des articles</a>
            </div>
            <h1 class="text-center pb-5">Commentaires de l'article<br /><strong>'{{ post.title|upper }}'</strong></h1>
            <h3 class="pt-5"><i class="fas fa-envelope mr-2"></i>Commentaires à valider ({{ comments|length }})</h3>
            <table class="table table-striped mb-5 comments">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Commentaire</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                        <tr>
                            <td>
                                <div class="comment">
                                    <p class="font-weight-bold">{{ comment.author.firstName }} {{ comment.author.lastName }}
                                        <small class="text-muted ml-2">
                                        {% if comment.updatedAt %}
                                            modifié le {{ comment.createdAt|date('d m Y à H:i:s') }}
                                        {% else %}    
                                            posté le {{ comment.createdAt|date('d m Y à H:i:s') }}
                                        {% endif %}
                                        </small>
                                    </p>
                                    <p>{{ comment.content }}</p>
                                </div>
                            </td>
                            <td class="text-center">
                                <form action="?action=approvecomment&commentid={{ comment.id }}" method="post">
                                    <button type="submit" class="btn btn-success w-100" title="Approuver le commentaire" name="approve">
                                        Approuver<i class="fas fa-check"></i>
                                    </button>
                                </form>
                                <a href="" title="Valider le commentaire">
                                    
                                </a>
                                
                                <form action="?action=deletecomment&commentid={{ comment.id }}" method="post">
                                    <button type="submit" class="btn btn-danger w-100" title="Supprimer le commentaire" name="delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?');">
                                        Supprimer<i class="fas fa-times ml-2"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}