{% extends "baseadmin.html.twig" %}

{% block title %}Modifier - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section id="article-edit">
        <div class="container">
            <div class="text-center mb-5">
                <a href="?action=admin"><i class="fas fa-arrow-left mr-2"></i>Retour à la liste des articles</a>
            </div>
            <h1 class="text-center mb-5">Modifier l'article</h1>
            <h2>{{ post.title }}</h2>
            <form method="post">
                <div class="form-group">
                    <label for="title">Titre:</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{ post.title }}" />
                </div>
                <div class="form-group">
                    <label for="image">Image(url):</label>
                    <input type="text" class="form-control" name="image" id="image" value={% if post.imageUrl %}"{{ post.imageUrl }}"{% else %}"https://exemple-image-url.fr/"{% endif %} />
                </div>
                <div class="form-group">
                    <label for="intro">Intro:</label>
                    <textarea type="text" class="form-control" name="intro" id="intro" rows="2">{{ post.intro }}</textarea>
                </div>
                <div class="form-group">
                    <label for="content">Contenu:</label>
                    <textarea type="text" class="form-control" name="content" id="content" rows="10">{{ post.content }}</textarea>
                </div>
                <div class="text-right mb-5">
                    <button type="submit" name="submit" class="button-link w-100">Valider</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}