{% extends "base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/homepage/homepage.css">
{% endblock %}

{% block content %}

    <section id="home" class="color-white">
        <div class="container">
            <div class="text-center">
                <img src="/img/avatar.png" alt="avatar">
                <h1 class="font-weight-bold">&lt;!&#45;&#45; Développeur front-end / back-end --></h1>
            </div>
        </div>
    </section>

    <section id="about" class="color-black">
        <div class="text-center about-content">
            <h1 class="text-center">A propos</h1>
            <div class="text-about text-center">
                <p>Bonjour! Moi c'est Mathieu et j'ai 29 ans. Je vis à Marseille et suis actuellement en alternance chez <a href="https://internethic.com/" target="_blank">Internethic</a> pour la formation Développeur back end PHP Symfony proposée par <a href="https://openclassrooms.com/" target="_blank">OpenClassrooms</a></p>
        
                <p>J'ai également obtenu une certification RNCP de niveau 3 en techniques d'intégration et de développement web chez <a href="https://www.wf3.fr/" target="_blank">WebForce3</a> et plusieurs autres sur la plateforme OpenClassrooms. Voir mon CV pour plus d'informations à mon propos. 😎</p>
            </div>
            <div class="text-center">
                <a href="/docs/CV_mathieu_delclos.pdf" class="button-link" role="button" download="CV_MathieuD"><i class="fas fa-download mr-2"></i>Télécharger mon CV</a>
            </div>
        </div>
    </section>

    <section id="contact" class="color-white">
        <div class="container my-5">
            <h1 class="text-center mb-5">Me contacter</h1>

            <div class="{{ class }} {% if errors %}d-block{% else %}d-none{% endif %} my-5 w-50 mx-auto">
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <form method="post">
                <div class="form-group">
                    <label for="lastname" hidden>Nom:</label>
                    <input type="text" class="form-control {{ textColorError.lastname }}" name="lastname" id="lastname" {% if postVariables.firstname %}value="{{postVariables.firstname}}"{% endif %} placeholder="Entrez votre nom" required/>
                </div>
                <div class="form-group">
                    <label for="firstname" hidden>Prénom:</label>
                    <input type="text" class="form-control {{ textColorError.firstname }}" name="firstname" id="firstname" {% if postVariables.lastname %}value="{{postVariables.lastname}}"{% endif %} placeholder="Entrez votre prénom" required/>
                </div>
                <div class="form-group">
                    <label for="email" hidden >Email:</label>
                    <input type="email" class="form-control {{ textColorError.email }}" name="email" id="email" {% if postVariables.email %}value="{{postVariables.email}}"{% endif %} placeholder="Entrez votre email"  required/>
                </div>
                <div class="form-group">
                    <label for="message" hidden>Message:</label>
                    <textarea type="text" class="form-control {{ textColorError.message }}" name="message" id="message" placeholder="Tapez votre message" rows="5" required>{% if postVariables.message %}{{postVariables.message}}{% endif %}</textarea>
                </div>
                <div class="text-center pb-5">
                    <button type="submit" name="submit" class="button-link w-100">Envoyer</button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
