{% extends "base.html.twig" %}

{% block title %}Blog - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="css/blog/blog.css">
{% endblock %}

{% block content %}

    <section id="last-articles">
        <div class="container">
            <h1 class="text-center mb-5">Derniers articles</h1>

            {% for post in posts %}
                <div class="articles mb-5">
                    <div class="article bg-white mb-3">
                        <div class="article-body">
                            <h2 class="article-header article-title font-weight-bold mt-5 ml-4">{{ post.title }}</h2>
                            <small class="text-muted ml-4"><i class="far fa-clock mr-2"></i>
                                {{ post.createdAt|date('d-m-Y à H:i:s') }}
                            </small><br />
                            <small class="text-muted text-center ml-4"><i class="fas fa-user mr-2 mb-5"></i>
                                Publié par {{ post.author.firstName }} {{ post.author.lastName }}
                            </small>
                            <div class="article-content">
                                {% if post.imageUrl %}
                                    <img src="{{ post.imageUrl }}" class="mr-3 img-fluid" alt="{{ post.title }}">
                                {% endif %}
                                <p class="article-text">{{ post.intro }}</p>
                            </div>
                            <a href="?action=showpost&id={{ post.id }}">Lire l'article<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>
    
{% endblock %}


