{% extends "base.min.html.twig" %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block content %}

    <section id="register" class="color-blue">
        <h1 class="text-center mb-5">Créer un compte</h1>

        {% if errors %}
            <div class="alert alert-danger my-5 w-50 mx-auto" role="alert">
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="post" class="m-auto w-50">
            <fieldset>
                <legend class="text-center">Entrez vos informations</legend>
                    <div class="row">
                        <div class="col">
                            <label for="lastname">Nom <abbr title="required">*</abbr></label>
                            <input type="text" name="lastname" class="form-control {% if errors.lastname %}text-danger{% endif %}" id="lastname" placeholder="Entrez votre nom" {% if postvariables.lastname %}value="{{ postvariables.lastname }}"{% endif %} required>
                        </div>     
                        <div class="col">
                            <label for="firstname">Prénom <abbr title="required">*</abbr></label>
                            <input type="text" name="firstname" class="form-control {% if errors.firstname %}text-danger{% endif %}" id="firstname" placeholder="Entrez votre prénom" {% if postvariables.firstname %}value="{{ postvariables.firstname }}"{% endif %} required>
                        </div>           
                    </div>
                    <div class="form-group">
                        <label for="email">Email <abbr title="required">*</abbr></label>
                        <input type="email" name="email" class="form-control {% if errors.email %}text-danger{% endif %}" id="email" placeholder="Entrez votre email" {% if postvariables.email %}value="{{ postvariables.email }}"{% endif %} required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password <abbr title="required">*</abbr></label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Mot de passe" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm password <abbr title="required">*</abbr></label>
                        <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirmez votre mot de passe" required>
                    </div>
                    <button type="submit" name="submit" class="button-link w-100 mb-4">S'enregistrer</button>
            </fieldset>
        </form>
        <p class="text-center mt-5">Vous avez déjà un compte? <a href="/login">Se connecter</a></p>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
</body>
</html>

{% endblock %}